@model EmpleadosMVC.Models.Empleado

@{
    ViewBag.Title = "CreateRandom";
}

<h2>CreateRandom</h2>

<div>
    <h4>Empleado Random creado</h4>
    <hr />

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
